div
{
    text-align: center;
    position:relative;  
}

img{
    width: 1250px;
    height: 700px;
    margin-right:75px;
    margin-left: 75px;
    position: relative;
}

.main {
    background-image: url(
        "https://www.saveetha.ac.in/images/sec/2024/sdd.jpg"
    );
    display: flex;
    flex-direction: column;
    background-size: 1800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 580px;
    justify-content: center;
    align-items: center;
  }


  

